.container {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.imageWrapper {
  flex: 1;
  max-width: 300px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author, .genre, .year, .rating {
  font-size: 16px;
  color: #555;
}

.notFound {
  text-align: center;
  font-size: 18px;
  color: red;
  margin-top: 50px;
}

.spiner {
  margin-top: 50px;
  width: 50px;
  margin: auto;
}