.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.spinner_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  width: 100%;
  margin: auto;
  padding-top: 50px;
}