.container_booklist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

@media (max-width: 700px) {
  .filter_container {
    flex-direction: column; /* На узких экранах фильтры располагаются вертикально */
    gap: 10px; /* Уменьшенное пространство между фильтрами */
  }
}
